/* @import url('https://fonts.cdnfonts.com/css/ebuenaclassic');
@import url('https://fonts.cdnfonts.com/css/kraftstoff');
@import url('https://fonts.cdnfonts.com/css/shapeingo');
@import url('https://fonts.cdnfonts.com/css/sofia-sans-semi-condensed'); */

/**************** commons *********************/
                
body {
    /* background: rgb(199,224,213);
    background: linear-gradient(90deg, rgba(199,224,213,1) 0%, rgba(185,212,203,1) 70%, rgba(136,181,169,1) 100%); */
    /* background: rgb(199,224,213);
    background: linear-gradient(90deg, rgba(199,224,213,1) 31%, rgba(185,212,203,1) 72%, rgba(136,181,169,1) 100%); */
    /* background: rgb(203,228,217);
    background: linear-gradient(90deg, rgba(203,228,217,1) 31%, rgba(157,188,178,1) 72%, rgba(95,154,138,1) 100%); */
    background: rgb(224,215,219);
    background: radial-gradient(circle, rgb(45, 68, 74) 0%, rgb(40, 40, 42) 30%); 
    margin: 0;
  
  }

  h1, h2, h3, h4, h5, h6, p, i{
    color: #ffff;
    font-family: 'Shapeingo', sans-serif;
                                                
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  button{
    border-radius: 10px;
    border: 1px solid #fff;
    background: transparent;
    color:  white;
    width: 100%;
  }

  canvas, body{
    overflow-x: hidden;
  }
  
  a{
    text-decoration: none;
    color: #fff;
  }
  

  @media ( 576px <= width <= 768px){
    /* body {
      overflow-x: hidden;
    } */
  }
