
.gear-container {
    margin-top: 100px;
    position: relative;
    left: 44%;
    width: 150px;
    height: 150px;
}
.gear {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: rotateGear 10s linear infinite;
}
.gear.small {
    width: 60px;
    height: 60px;
    top: 55px;
    left: 66px;
    animation: rotateGearReverse 4s linear infinite;
}
.gear-text{
    text-align: center;
    margin-bottom: 20%;
}

.admin-loading{
    margin-top: 12px;
    color: #a7bcca;
}
@keyframes rotateGear {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes rotateGearReverse {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}


@media ( 576px <= width <= 768px){

    .gear-container {
        margin-top: 150px;
        left: 42%;
    }
 
  }

  
@media ( width <= 576px) {

    .gear-container{
        margin-top: 150px;
        left: 40%;
    }
    .gear-text{
        margin-bottom: 40%;
    }

}