#header{
    display: flex;;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
  

  #header-logo{
    width: 90px;
    height: 90px;
  }
  
  .nav-btn{
    display: flex;
    padding-right: 5px;
    gap: 20px;
    /* width: 20%; */
  }
  
  .nav-item{
    border: none;
    border-style: none;
    border-radius: 0;

  }
  .nav-item h4{
    letter-spacing: .18rem;
    font-weight: 300;
  }
  .search-icon{
    border: none;
  }