#header{
    position: relative;
    display: flex;;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    z-index: 1;
  }
  

  #header-logo{
    width: 90px;
    height: 90px;
  }
  
  .nav-btn{
    display: flex;
    padding-right: 5px;
    gap: 40px;
    /* width: 20%; */
  }
  
  .nav-item{
    border: none;
    border-style: none;
    border-radius: 0;

  }
  .nav-item p{
    letter-spacing: .12rem;
    font-size: .8rem;
    font-weight: 600;
  }
  .search-icon{
    border: none;
  }