.admin-heading{
    margin-top: 30px;
}
.admin-nav{
    padding: 2%;
    padding-right: 0;
}

.admin-nav{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    gap: 10px;
    padding: 2% 2%;  
    /* padding-right: 0;  
    margin-top: 15px; */
}

.admin-option{
    display: grid;
    margin-top: 70px;
    gap: 20px;

}

.admin-option-details{
    background-color: rgba(61, 108, 138, 0.208);   
    height: 100vh;
    border-radius: 1%;
}



.admin-option-btn{
    text-align: left;
    border: 0 none;
    border-radius: 0;
    padding: 5px 10px;
}

.admin-option-btn h4{
    margin: 0;
    font-size: 1rem;
}
