
#properties-profile{
  margin-top: 20px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 100%;
}

.properties-image{
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-width: 1px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80vh;
  gap: 10px;
  overflow: hidden;
  padding: 2px 0;
}
.properties img{
  width: auto;
  height: auto;
}



.properties-image-items{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 50%;
  gap: 5px;

}

.properties-detail-grid{
  display: grid;
  grid-template-columns: 70% 30%;
  padding-top: 2%;
}
.properties-deal{
  margin-top: 15px;
  padding-top: 20%;
}
.properties-details-detail{
  display: grid;
  grid-template-columns: 55% 35%;
  padding: 10%;
  padding-right: 0;
  padding-left: 0;
}

.properties-detail-items{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px;
  max-width: 100%;
}
.propeties-icons svg{
  width: 30px;
  height: 30px;
}

.propeties-icons p{
  display: inline;
  font-size: 1rem;
}
.properties-image-items img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}


.properties-moreDetial{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin-top: 40px;
  gap: 10px;
  max-width: 100%;
}

.properties-moreDetial-items{
  display: flex;
  align-items: center;
  padding: 0px 10px;
  background-color: rgb(67, 63, 71);
  border-radius: 10px;
  gap: 5px;
}
.properties-moreDetial-items svg{
  width: 20px;
  height: 20px;
}
.properties-moreDetial-items h4{
  font-weight: 100;
}
.proprties-special{
  margin-top: 40px;
}
.proprties-special-btns{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}
.proprties-special-paragraph{
  margin-top: 20px;
}
.properties-locaton{
  margin-top: 20px;
}
.properties-locaton img{
  width: 100%;
  height: auto;
  max-width: 100%;
}

.properties-deal{
  margin-top: 30%;

}
.properties-deal button{
  margin-top: 20px;
  cursor:pointer
}
.properties-image-items.main{
  display: grid;
  grid-template-columns: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
}
.properties-moreDetial-items h4{
  color: rgb(218, 235, 218);
}


  
@media ( width <= 576px) {
  #properties-profile{
    max-width: 100%;
    overflow: hidden;
  }
  .properties-image{
    grid-template-columns: 100%;
    margin: 0;
    grid-template-rows: 50vh;
    padding: 0;
    gap: 10px;
  }

  .properties-detail-grid{
    grid-template-columns: 100%;
    /* gap: 1px; */
  }
  .properties-detail{
    margin: 0;
    padding: 0;
  }
  .properties-details h1{
    margin-top: 0;
    padding: 0;
  }
  .properties-details-detail{
    padding-top: 0px;
    grid-template-columns: 100%;
  }
  .properties-deal{
    margin-top: 0;
    padding-top: 10%;
  }
  .properties-moreDetial{
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    margin-top: 0px;
    gap: 10px;
    max-width: 100%;
  }

  .properties-detail-items{
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    gap: 0px;
    padding: 1% 10%;
    max-width: 100%;
  }
}


